// Primary colors
$desaturated-red: hsl(0, 36%, 70%);
$soft-red: hsl(0, 93%, 68%);

// Neutral colors
$dark-grayish-red: hsl(0, 6%, 24%);

//Gradients from
$white-gradient: linear-gradient(135deg, #FADADB, #F9C9C9);
$red-gradient: linear-gradient(135deg, #F5B8B7, #F29391);