// Primary colors
$desaturated-red: #956c6c;
$soft-red: #f96262;

// Neutral colors
$dark-grayish-red: #413a3a;

//Gradients from
$white-gradient: linear-gradient(135deg, #FADADB, #F9C9C9);
$red-gradient: linear-gradient(135deg, #F5B8B7, #F29391);